#services {
    .custom-shape-divider-top-1631786251 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: -1;
    }

    .custom-shape-divider-top-1631786251 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 50vh;
        transform: rotateY(180deg);
    }

    .custom-shape-divider-top-1631786251 .shape-fill {
        fill: red;
    }

    .serviceContainer {
        height: fit-content !important;
    }

    .serviceCard {
        height: 300px !important;
        width: 330px !important;

        .card {
            height: 300px !important;
            width: 330px !important;
        }
    }
}